@{
    ViewBag.Title = "Home Page";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/EmployeeDetails.js")"></script>
}


<div ng-app="myApp">

    <div class="container" ng-controller="mainController">
        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        County
                    </th>
                    <th>
                        Postal
                    </th>
                    <th>
                        Phone 1
                    </th>
                    <th>
                        Phone 2
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Web
                    </th>
                    
                </tr>
            </thead>
            <tr ng-repeat="details in employeeDetails">
                <td>{{details.FirstName}}</td>
                <td>{{details.LastName}}</td>
                <td>{{details.CompanyName}}</td>
                <td>{{details.Address}}</td>
                <td>{{details.City}}</td>
                <td>{{details.County}}</td>
                <td>{{details.Postal}}</td>
                <td>{{details.Phone1}}</td>
                <td>{{details.Phone2}}</td>
                <td>{{details.Email}}</td>
                <td>{{details.Web}}</td>
                
            </tr>
        </table>
    </div>
</div>