@{
    ViewBag.Title = "Upload Data";
}

<h3>@ViewBag.Message</h3>


<div>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-4"><input name="uploadFile" type="file" class="btn btn-default btn-file" />
                
            </div>
            <div class="col-md-4"><input type="submit" value="UploadFile" title="Upload file" class="btn btn-primary" /></div>
        </div>
        
        
    }
</div>